<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>CDN Test</title>
    </head>
    <body>
        <h1>Getting files from CDN</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tempora doloribus consectetur atque ullam maxime vel ad, perspiciatis itaque aliquid, facilis sint voluptatibus odit accusantium neque? Ullam aut dolorum minus.</p>
        <p>Cloud Computing</p>
        <img src="{{ url_for('static', filename= 'css/share.png') }}" >
        
    </body>
</html>